<% include ../partials/header %>

  <a href="/authors">See all authors</a>

  <h1>Article list</h1>


  <% allPosts.forEach(function(post,index){ %>

  <h2>Post <%= index+1%></h2>
    Title:<%= post.title %>

  <br>
    Content: <%= post.content %>

  <br>
    <a href="/authors/<%= post.AuthorId%>/posts">Learn about the author</a>




  <% }); %>



<% include ../partials/footer %>
